.HomeCard{
    background-color: #fff;
    width: inherit;
    margin: 6px;
    padding: 3px;
    height: -webkit-fill-available;
    width:100%;
    box-shadow: rgb(230, 230, 230) 0px 0px 3px;
}
#root{
    background-color:#f4f4f4;
    width:100%;
    height:100vh;
    max-height:100vh;
    color:black
}
html {
    height: 100%; 
}

body {
    height: 100%;
}

.ObjectIcon{
  font-size:4.15rem;
}

.CarLock{
    position: absolute;
    background: #53a8656b;
    border: solid #53a865 3px;
    border-radius: 64px;
    width: 33px;
    height: 33px;
    padding: 1px 6.5px;
    font-size:0.9rem
}
.CarLock.red{
    background: #ef52476b;
    border: solid #ef5247 3px;
}
.CarLock.green{
   background: #53a8656b;
    border: solid #53a865 3px;
}
.signStatus{
  font-size: 0.9rem;
}
.signStatus.list{
  font-size: 0.8rem;
}
.CarLock.FL{
  top: 46%;
  left: 7%;
}
.CarLock.FR{
  top: 46%;
  left: 24%;
}
.CarLock.BR{
  top: 58%;
  left: 24%;
}
.CarLock.BL{
  top: 58%;
  left: 7%;
}
.CarLockIcon{
  color:white
}

.HeartRateLabel{
  font-size :3rem;
  text-align:center;
}

.heart-rate {
position: relative;
overflow:hidden;
    
}

.fade-in {
  position: absolute;
  width: 100%;
  height:100%;
  background-color: white;
  top: 0;
  right: 0;
  animation: heartRateIn 4.5s linear infinite;
}

.fade-out {
  position: absolute;
  width: 120%;
  height: 100%;
  top: 0;
  left: -120%;
  animation: heartRateOut 4.5s linear infinite;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
}

@keyframes heartRateIn {
  0% {
    width: 100%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 0;
  }
}

@keyframes heartRateOut {
  0% {
    left: -120%;
  }
  30% {
    left: -120%;
  }
  100% {
    left: 0;
  }
}